body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #333;
    background-image: url(img/0df4b7a4edb94e0feda791eaaf99a4dc.jpeg);
}

nav {
    background-color: #2e7d32;
    padding: 10px;
}

.org-botoes {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.botoes {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.logo {
    height: 80px;
    display: flex;
    justify-content: flex-start;

}

.banner {
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.banner h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.botoes-banner button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #ff9800;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.passeios, .valores {
    padding: 40px 20px;
    text-align: center;
}

.cartões {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cartão {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 250px;
    padding: 15px;
}

.cartão img {
    width: 100%;
    border-radius: 4px;
}
footer {
    background-color: #2e7d32;
    color: white;
    text-align: center;
    padding: 20px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
