.cor-1 {   
    background-color: lightslategray;
    height: 100px;
}
.cor-2 {   
    background-color: lightpink;
    height: 100px;
}
.cor-3 {   
    background-color: lightsalmon;
    height: 100px;
}
.cor-4 {   
    background-color: lightgreen;
    height: 100px;
}
.cor-5 {   
    background-color: lightskyblue;
    height: 100px;
}
.cor-6 {   
    background-color: lightcoral;
    height: 100px;
}
